body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #979797;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #67548b, #2e1365);
  }
  
  .calculator {
    width: 350px;
    height: 490px;
    border: 12px outset #67548b;
    border-radius: 31px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 3px 9px 6px rgba(254,1,154,1);
    align-self: center;
    position: absolute;
    background-color: #2e1365c5;
  }
  .col {
    display: flex;
    align-items: center;
    margin-left: 6px;
    gap: 5px;
  }

  #equalsBtn {
    font-size: 25px;
    width: 156px;
    background-color: rgba(57,255,20);
  }

  #delBtn {
    background-color: #ffa420;
    margin: 0px;
  }

#cleanbtn {
  width: 164px;
  font-weight: 700;
  color: #000000;
  background-color: red;
  transition: 200ms;
}
  
  button {
    width: 73px;
    height: 70px;
    border: 2px solid;
    border-radius: 20px;
    margin: 4px;
    font-size: 25px;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,1);
    transition: 200ms;
  }
  button:active {
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,1);
    transform: scale(0.96);
  }
  button:hover {
    background-color: #fe019a;
    cursor: pointer;
  }

  .oper {
    background-color:  #fefe22;
  }
  .oper:hover {
    background-color: rgba(57,255,20);
  }
  
  input {
    width: 320px;
    height: 60px;
    margin: 10px;
    border: 2px solid #67548b;
    border-radius: 9px;
    font-size: 25px;
    padding: 5px;
    text-align: right;
    box-shadow: inset 0px 4px 0px 0px rgba(103,84,139,1);
    background-color: #67548b;
    background-color: #7df9ff;
    outline: none;
  }